h1 {
    color: rgb(124, 20, 216);
    background-color: rgb(230, 215, 250);
    margin: 75px;
    padding: 40px;
    text-align: center;
}

body {
    background-color: rgb(181, 247, 247)
}


nav ul{
    list-style-type: none;
    margin: 0;
    padding:0;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(197, 232, 245);
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    padding: 10px;
    background-color: rgb(197, 232, 245);
    text-decoration: none;
    color: rgb(9, 14, 14)
}
